<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/variaveis.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/responsivo/menu-responsivo.css" />
    <link rel="stylesheet" href="../css/biblioteca.css" />
    <link rel="stylesheet" href="../css/responsivo/biblioteca-responsivo.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Biblioteca</title>
  </head>
  <body onresize="ocultaMenuMobile()">
    <header>
      <a href="../index.html"
        ><img src="../assets/img/logo.png" alt="logo-do-site"
      /></a>
      <nav class="list-menu">
        <ul>
          <li><a href="biblioteca.html">Biblioteca</a></li>
          <li><a href="leitura.html">Leitura</a></li>
          <li><a href="estatisticas.html">Estatisticas</a></li>
          <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
          <li><a href="contatos.html">Contatos</a></li>
        </ul>
      </nav>
      <div id="icon-mobile-menu" onclick="abreMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    <nav class="mobile-menu">
      <ul>
        <li><a href="biblioteca.html">Biblioteca</a></li>
        <li><a href="leitura.html">Leitura</a></li>
        <li><a href="estatisticas.html">Estatisticas</a></li>
        <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
        <li><a href="contatos.html">Contatos</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Para crianças de 6 a 10 anos</h2>
        <div class="livros">
          <div class="livro">
            <h3>Não confunda</h3>
            <div class="img-livro">
              <img src="../assets/img/nao-confunda.jpg" alt="" />
            </div>
            <p>
              De Eva Furnari Indicado para crianças a partir de 6 anos O livro
              conta a história de dois irmãos gêmeos que trocam as letras o
              tempo todo e confundem as coisas ao seu redor. A narrativa propõe
              conscientizar as crianças sobre as particularidades da nossa
              ortografia de forma divertida e com textos curtos.
            </p>
          </div>
          <div class="livro">
            <h3>A cor de Coraline</h3>
            <div class="img-livro">
              <img src="../assets/img/a-cor-de-coraline.jpg" alt="" />
            </div>
            <p>
              De Alexandre Rampazo Indicado para crianças a partir de 8 anos Ao
              se deparar com uma difícil pergunta: “De que pele estamos falando
              quando dizemos que um lápis é ‘cor de pele’?”, a personagem
              Coraline embarca em uma jornada rumo ao mundo das cores. O livro
              aborda conceitos de diversidade à medida que a personagem
              reconhece a pluralidade e a beleza que existe na cor de cada um.
            </p>
          </div>
          <div class="livro">
            <h3>Diário de Pilar na Amazônia</h3>
            <div class="img-livro">
              <img src="../assets/img/diario-de-pilar-na-amazonia.jpg" alt="" />
            </div>
            <p>
              De Flávia Lins e Silva Indicado para crianças a partir de 10 anos
              Pilar é uma garota que sonha em viajar o mundo e, com sua rede
              mágica, tem a oportunidade de realizar esse desejo. Em visita à
              Amazônia, imersa nas riquezas naturais do nosso país, vive grandes
              aventuras e faz diversas reflexões sobre a importância da
              preservação do meio ambiente.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2>Para adolescentes de 12 a 16 anos</h2>
        <div class="livros">
          <div class="livro">
            <h3>Eleanor & Park</h3>
            <div class="img-livro">
              <img src="../assets/img/eleanor-park.jpg" alt="" />
            </div>
            <p>
              De Rainbow Rowell Uma história de amizade entre duas pessoas
              estranhas. Seria comum se não fosse a forma especial como esses
              adolescentes vão construindo a sua amizade e as aventuras que
              esperam os dois no início de um romance. É um lindo livro para
              quem quer se emocionar.
            </p>
          </div>
          <div class="livro">
            <h3>Quem é você, Alasca?</h3>
            <div class="img-livro">
              <img src="../assets/img/alaska.jpg" alt="" />
            </div>
            <p>
              De John Green O autor que conquistou milhões de fãs no mundo com
              “A Culpa é das Estrelas” volta neste romance que envolve um pouco
              de filosofia, história e, como não poderia deixar de ser, dramas
              adolescentes. É um livro inteligente e com um senso de humor
              maravilhoso.
            </p>
          </div>
          <div class="livro">
            <h3>Dias Perfeitos</h3>
            <div class="img-livro">
              <img src="../assets/img/dias-perfeitos.jpg" alt="" />
            </div>
            <p>
              De Raphael Montes Um romance policial e de suspense que vai te
              causar angústia do começo ao fim. E isso é bom. O protagonista Téo
              é um psicopata confuso e assustador, que cria uma obsessão por
              Clarice, uma garota inteligente de espírito livre. Um romance nada
              usual que, ainda assim, você não vai conseguir largar.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2>Para Adultos</h2>
        <div class="livros">
          <div class="livro">
            <h3>Adoráveis Mulheres</h3>
            <div class="img-livro">
              <img src="../assets/img/adoraveis-mulheres.jpg" alt="" />
            </div>
            <p>
              O clássico da literatura conta a história de quatro irmãs em suas
              respectivas transições de adolescentes para jovens adultas durante
              a Guerra Civil americana. O livro abre uma discussão sobre o papel
              da mulher na sociedade e como seu desenvolvimento pessoal está
              diretamente ligado ao moralismo da época. Toda jovem deveria ler
              pelo menos uma vez!
            </p>
          </div>
          <div class="livro">
            <h3>Daqui a cinco anos</h3>
            <div class="img-livro">
              <img src="../assets/img/daqui-cinco-anos.jpg" alt="" />
            </div>
            <p>
              Onde você se vê daqui a cinco anos? Dannie Kohan sabe exatamente o
              futuro que deseja e o que deve fazer para conquistá-lo. Depois de
              arrasar na entrevista para seu emprego dos sonhos em um dos
              maiores escritórios de advocacia de Nova York e de ser pedida em
              casamento pelo namorado, ela vai dormir com a certeza de que está
              no caminho certo para realizar todos os seus planos.
            </p>
          </div>
          <div class="livro">
            <h3>A Biblioteca da Meia-Noite</h3>
            <div class="img-livro">
              <img src="../assets/img/meia-noite.jpg" alt="" />
            </div>
            <p>
              Aos 35 anos, Nora Seed é uma mulher cheia de talentos e poucas
              conquistas. Arrependida das escolhas que fez no passado, ela vive
              se perguntando o que poderia ter acontecido caso tivesse vivido de
              maneira diferente. Após ser demitida e seu gato ser atropelado,
              Nora vê pouco sentido em sua existência e decide colocar um ponto
              final em tudo. Porém, quando se vê na Biblioteca da Meia-Noite,
              Nora ganha uma oportunidade única de viver todas as vidas que
              poderia ter vivido.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2>Para Idosos</h2>
        <div class="livros">
          <div class="livro">
            <h3>Vó</h3>
            <div class="img-livro">
              <img src="../assets/img/vó.jpg" alt="" />
            </div>
            <p>
              O livro “Vó” foi escrito no formato de tiras pelo desenhista,
              chargista e cartunista brasileiro Jean Galvão. Com muito bom humor
              e sabendo representar o dia a dia de uma senhora idosa, a obra
              permite boas risadas e muita diversão. A vó é uma senhora
              solitária, religiosa, saudosa e muito divertida.
            </p>
          </div>
          <div class="livro">
            <h3>Como transformar a terceira idade na melhor idade</h3>
            <div class="img-livro">
              <img src="../assets/img/terceira-idade.jpg" alt="" />
            </div>
            <p>
              O livro “Como transformar a terceira idade na melhor idade” foi
              escrito pelo Dr. Luiz Freitag, geriatra brasileiro que, de forma
              humana e baseado na sua vida médica, apresenta as possibilidades
              de viver novas experiências a partir de uma transformação
              consciente.
            </p>
          </div>
          <div class="livro">
            <h3>Conversas e memórias: narrativas do envelhecer</h3>
            <div class="img-livro">
              <img src="../assets/img/como-envelhecer.jpg" alt="" />
            </div>
            <p>
              Um projeto desenvolvido junto a grupos comunitários da cidade de
              São Paulo levaram os brasileiros Gonçalo Luiz de Melo e Adriana
              Rodrigues Domingues a escrever o livro “Conversas e memórias:
              narrativas do envelhecer”. A obra traz histórias contadas pelos
              idosos dessas comunidades e transformadas em crônicas e textos
              teatrais, objetivando que os contadores possam enxergar novos
              significados para as suas vidas.
            </p>
          </div>
        </div>
      </section>
    </main>

    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
