<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/variaveis.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/responsivo/menu-responsivo.css" />
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/contatos.css"/>
    <title>Contatos</title>
  </head>
  <body onresize="ocultaMenuMobile()">
    <header>
      <a href="../index.html"><img src="../assets/img/logo.png" alt="logo-do-site" /></a>
      <nav class="list-menu">
        <ul>
          <li><a href="biblioteca.html">Biblioteca</a></li>
          <li><a href="leitura.html">Leitura</a></li>
          <li><a href="estatisticas.html">Estatisticas</a></li>
          <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
          <li><a href="contatos.html">Contatos</a></li>
        </ul>
      </nav>
      <div id="icon-mobile-menu" onclick="abreMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    <nav class="mobile-menu">
      <ul>
        <li><a href="biblioteca.html">Biblioteca</a></li>
        <li><a href="leitura.html">Leitura</a></li>
        <li><a href="estatisticas.html">Estatisticas</a></li>
        <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
        <li><a href="contatos.html">Contatos</a></li>
      </ul>
    </nav>
    
    <!-- Corpo e conteudo da página -->
    <div class="container">
      <h1>Contatos</h1>
      <div class="contact-card">
        <img src="../assets/img/fotomatheus.jpeg" alt="Foto 1">
        <p>Matheus Neubaner Monteiro </p>
        <div class="links">
          <a href="https://www.instagram.com/neubanermatheus?igsh=MXI0dmZka2NyMHBqOA==" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://www.linkedin.com/in/matheus-neubaner-b338a0297/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/MatheusNeubanerr" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
      <div class="contact-card">
        <img src="../assets/img/joao.jpg" alt="Foto 2">
        <p>João Pedro de Carvalho Souza</p>
        <div class="links">
          <a href="https://www.instagram.com/_jpedro_carvalho_/" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-de-carvalho-souza-76241b30b/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/JPedroCSz" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
      <div class="contact-card">
        <img src="../assets/img/lais.jpg" alt="Foto 3">
        <p>Lais Cunha Marques</p>
        <div class="links">
          <a href="https://www.instagram.com/lais__cr?igsh=NG0xMG54aDczenVp" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://www.linkedin.com/in/lais-cunha-marques-091b8130a/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/Lalanka" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
     <!--  <div class="contact-card">
        <img src="../assets/img/foto4.jpg" alt="Foto 4">
        <p>Nome da Pessoa 4</p>
        <div class="links">
          <a href="https://instagram.com/pessoa4" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="https://linkedin.com/in/pessoa4" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/pessoa4" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>-->
    </div>
    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
