<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/variaveis.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/responsivo/menu-responsivo.css" />
    <link rel="stylesheet" href="../css/leitura.css" />
    <link rel="stylesheet" href="../css/responsivo/leitura-responsivo.css" />
    <link
      rel="shortcut icon"
      href="../assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>Beneficios da Leitura</title>
  </head>
  <body onresize="ocultaMenuMobile()">
    <div id="container">
      <header>
        <a href="../index.html"
          ><img src="../assets/img/logo.png" alt="logo-do-site"
        /></a>
        <nav class="list-menu">
          <ul>
            <li><a href="biblioteca.html">Biblioteca</a></li>
            <li><a href="leitura.html">Leitura</a></li>
            <li><a href="estatisticas.html">Estatisticas</a></li>
            <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
            <li><a href="contatos.html">Contatos</a></li>
          </ul>
        </nav>
        <div id="icon-mobile-menu" onclick="abreMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>
      </header>
      <nav class="mobile-menu">
        <ul>
          <li><a href="biblioteca.html">Biblioteca</a></li>
          <li><a href="leitura.html">Leitura</a></li>
          <li><a href="estatisticas.html">Estatisticas</a></li>
          <li><a href="praticaEscrita.html">Prática da Escrita</a></li>
          <li><a href="contatos.html">Contatos</a></li>
        </ul>
      </nav>

      <main>
        <div id="main-content">
          <article>
            <section>
              <div id="img-capa">
                <img src="../assets/img/leitura.jpg" alt="" />
              </div>
              <div class="titulo">
                <h1>A Leitura e seus Beneficios</h1>
                <p>
                  Hoje, mais que em qualquer outra época, estamos sacrificando
                  nossa capacidade para ler e pensar com profundidade graças a um
                  entorno hedonista que desdenha o otium studiosum (de que falavam
                  os clássicos) e fomenta a leitura ligeira, um pensamento
                  apressurado e disperso, um pensamento insípido e superficial.
                  Nos sentimos livres da responsabilidade de pensar, razoar,
                  julgar e atuar em consequência, nos negamos o valor e a virtude
                  permanente de ter que construir-se a si mesmo, nos sentimos
                  cômodos com o propósito autoimposto de permanecer em um vazio
                  intelectual, já não nos preocupamos por preparar-nos para o
                  caminho, senão que nos obcecamos em buscar e encontrar o caminho
                  preparado em quaisquer dos tentadores meios digitais, essas
                  finas brisas da abstração moderna que provocam a desaparição do
                  sentido percebido fisicamente e uma diminuição da conexão entre
                  o indivíduo e o mundo. Isso que Ortega y Gasset chamava “el
                  espíritu de nuestro tiempo”.
                </p>
              </div>
            </section>
            <section class="reverse">
              <div id="img-capa">
                <img src="../assets/img/leitura7.jpg" alt="" />
              </div>
              <p>
                Agora que temos direito a tudo (menos a conformar-nos com
                qualquer coisa), em lugar de dedicarmos tempo e energia à “arte
                da leitura”, da leitura deliberada, atenta, ativa, relacional e
                compreensiva, nos limitamos a ler a vida e o mundo de forma
                fugaz, nugativa e em formato digital carregado de hiperenlaces,
                um panorama em que nunca tivemos tanta oportunidade de aprender
                e nunca aprendemos tão pouco. Uma paisagem desoladora da
                trivialidade contemporânea em que aprendemos à desatender
                deliberadamente a advertência de Paul Valéry de que o conteúdo e
                a forma devem estar unidos como o corpo e a alma, não como o
                corpo e a roupa (ou o aspecto físico). Vanitas vanitatum et
                omnia vanitas.
              </p>
            </section>

            <section>
              <div id="img-capa">
                <img src="../assets/img/leitura8.jpg" alt="" />
              </div>
              <p>
                Pois bem, que as pessoas já não sintam interesse pela leitura
                não tem nada de particular. O problema está em olvidar que de
                todas as atividades intelectuais potenciadoras de capacidades
                mentais, a mais acessível e a que proporciona um melhor balanço
                custo/benefício é, sem dúvida, a leitura. Ler é
                um dos melhores exercícios possíveis para manter em forma o
                cérebro e o único instrumento que tem o cérebro para progressar
                (I. Morgado, 2014). É assim porque a atividade de ler enreda uma
                mescla de domínios cerebrais distintos, requer pôr em jogo um
                importante número de processos mentais, entre os que se destacam
                a percepção, a memória e o razoamento.
              </p>
            </section>

            <section class="reverse">
              <div id="img-capa">
                <img src="../assets/img/leitura9.jpg" alt="" />
              </div>
              <p>
                Neste preciso instante, enquanto o leitor (a) lê este texto, o
                hemisfério esquerdo de seu cérebro está trabalhando a alta
                velocidade para ativar diferentes áreas3. E o cérebro
                permanecerá ativado para essa tarefa, transmitindo e trocando
                informações entre suas redes neuronais, sincronizando neurônios
                e regiões cerebrais, combinando ativamente percepções e
                recordos, e repetindo constantemente este dinâmico e complexo
                processo enquanto o leitor (a) siga lendo o texto. O que implica
                que a atividade de ler, que o cérebro leva a cabo com tanta
                naturalidade, centra nossa atenção seletiva, alimenta a
                imaginação, fomenta o pensamento profundo e favorece a
                criatividade, ativando numerosas vibrações intelectuais ao
                exigir “a concentração deliberada para combinar o desciframento
                do texto e a interpretação de seu significado” (N. Carr, 2011).
                Por outro lado, porque idealmente não se lê para outro, senão
                para si mesmo - uma atividade silenciosa e em primeira pessoa ao
                interior da alma – a leitura também tem profundas e radicais
                repercussões no desenvolvimento e aperfeiçoamento pessoal. “A
                capacidade leitora modifica o cérebro”, afirma Stanislas Dehaene
                em seu livro “Les neurones de la lecture” (2007), nos faz
                progressar e nos prepara para a vida: o ato de ler forma parte
                do ato de viver.
              </p>
            </section>
            <section>
              <div id="img-capa">
                <img src="../assets/img/leitura2.jpg" alt="" />
              </div>
              <p>
                Tudo isso sem mencionar a satisfação e o bem estar que
                proporciona o conhecimento adquirido e como esse conhecimento se
                transforma em memória cristalizada, que é a que temos como
                resultado da experiência. E uma vez que somos o resultado de
                nossas experiências e memórias, sua consumação, sua
                consequência, seu corolário, quando lemos, não somente
                interiorizamos os novos conhecimentos, fazemos nosso e
                convertemos em familiares o que aprendemos, senão que também
                alcançamos, ao final do processo, a excelência que transmite uma
                profunda satisfação pessoal de domínio e a confiança necessária
                em nossas próprias capacidades e possibilidades intelectuais:
                “Isso eu já sei!”.
              </p>
            </section>
            <section class="reverse">
              <div id="img-capa">
                <img src="../assets/img/leitura3.jpg" alt="" />
              </div>
              <p>
                Daí que entre nossos melhores amigos devem estar os livros,
                esses companheiros sempre disponíveis, pelo simples fato de que
                são inúmeras as vantagens da linguagem escrita: o exercício das
                faculdades reflexivas sobre as mnemônicas, miméticas e
                repetitivas; a ganância em objetividade e estabilidade, graças à
                firmeza do texto e à possibilidade de ser repassado; a clareza e
                sistematização das ideias, graças à forma de raciocínio e ao
                estilo de argumentar que os bons livros trazem consigo...; e por
                aí poderíamos seguir. A leitura também nos permite dialogar com
                o texto de maneira pausada, reflexiva e reler o que não
                compreendemos de imediato: uma prática bastante normal, um
                hábito prudente mais que um signo de uma capacidade cerebral
                limitada. Além disso, como aprendemos por associação, isto é,
                utilizando o que já sabemos para compreender o que
                desconhecemos, a leitura atenta e deliberada é o meio mais
                efetivo para meditar de maneira ponderada e repetida sobre temas
                mais complexos, para reconhecer nossos próprios limites e
                capacidades, para lograr ocupar nossa percepção consciente em um
                pensamento, razoamento ou experiência e para estabelecer
                continuamente relações entre os conteúdos que estão diretamente
                vinculados.
              </p>
            </section>
            <section>
              <div id="img-capa">
                <img src="../assets/img/leitura4.jpg" alt="" />
              </div>
              <p>
                De fato, o modo de acercar-nos mais diretamente ao conhecimento
                é através da leitura, o cenário mental donde se percebe com
                maior claridade os diferentes estilos de pensamento, assim como
                as ideias fundamentais geradas a partir deles. Imprescindível
                para uma formação sólida e duradoura, o hábito da leitura
                permite-nos não somente ter acesso ao próprio autor, senão que
                também constitui uma forma de viver dentro das palavras de outra
                pessoa. “La lectura nos permite hablar con los muertos”, dizia
                Francisco de Quevedo no século XVI. Assim as coisas, o mais
                aconselhável parece ser dedicar um pouco mais de nosso valioso e
                limitado tempo (esforço e energia) à pura e simples prática ou
                arte da leitura. Devemos habituar-nos a conviver com os livros,
                a fazer um uso desmedido desses instrumentos do juízo com os que
                realizamos em solitário a parte substancial de nosso aprendizado
                e peculiar preparação. “Os livros são companheiros, mestres,
                magos e banqueiros dos tesouros da mente" (B. W. Tuckman) e sem
                eles estamos perdidos.
              </p>
            </section>
            <section class="reverse">
              <div id="img-capa">
                <img src="../assets/img/leitura5.jpg" alt="" />
              </div>
              <p>
                Com isso não queremos dizer, evidentemente, que há que ler por
                ler. Também com os livros há que ser seletivo. E algo
                desconfiado, pois nos encontramos em uma época em que “quase
                tudo” já faz parte dos objetos de cultura. Não é tão infrequente
                ouvir falar de um livro medíocre de um autor medíocre como se se
                tratasse de um clássico vivente. Como há um lado escuro em todas
                as grandes coisas sobre os humanos, o outro lado da proverbial
                moeda, é um fato que na atual “sociedade do espetáculo” em que
                vivemos há que ser muito cauteloso com alguns livros para não
                deixar-se enredar nas amarras das modas atuais... e com as
                aparências. Mas não somente isso. Se nos dedicamos a ler de
                forma fluída, com apaixonado entusiasmo e com disposição
                autotélica (isto é, dedicada a uma atividade que vale a pena
                fazê-la por si mesma), com o tempo encontraremos o prazer de
                ler. E experimentá-lo é condição sine qua non de outra faculdade
                importante: a autoconfiança e a autossuficiência para
                reflexionar, para inquirir, para duvidar, para criar, para
                inovar e para aprender, que não é o mesmo que fomentar o
                beliscar rápido e distraído de pequenos fragmentos de informação
                de muitas fontes geradas por um interminável carrossel de links.
              </p>
            </section>
            <section>
              <div id="img-capa">
                <img src="../assets/img/leitura6.jpg" alt="" />
              </div>
              <p>
                Somente a leitura cria, recria e transforma; implica processos
                cognitivos que aumentam nossa capacidade para imaginar soluções
                e para refinar o pensamento, constituindo um dos modos mais
                efetivos para reforçar os conteúdos significativos, para
                associar, comparar, reorganizar, integrar e unificar temas novos
                ou desconhecidos com as informações que já estamos habituados.
                Sem a leitura viveríamos em um mundo meramente imediato, em um
                presente contínuo como o fazem o resto dos animais; ou pior: não
                teríamos a capacidade de abstração e imaginação que a leitura
                incentiva.
              </p>
            </section>
          </article>
        </div>
        <div id="img-capa-mobile">
          <img src="assets/img/leitura.jpg" alt="" />
        </div>
      </main>
    </div>

    <script src="../js/mobile-menu.js"></script>
  </body>
</html>
